# ---------------------------------------------------
# 1. Rust / Cargo
# ---------------------------------------------------
/target/
**/*.rs.bk

# ---------------------------------------------------
# 2. macOS
# ---------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon

# ---------------------------------------------------
# 3. IDE
# ---------------------------------------------------
.idea/
.vscode/
*.swp
*.swo

# ---------------------------------------------------
# 4. mdBook
# ---------------------------------------------------
docs/target/

# ---------------------------------------------------
# 4. Personal Thoughts
# ---------------------------------------------------
SCRATCHPAD.md